body
{
    background-color: #767676;
       color: white;
       font-family: 'Segoe UI', Tahoma, sans-serif;
        height: 150px;
        overflow: hidden;
        border-radius: 5px;
        /* -webkit-app-regin: drag; */
        /* padding: 10px;
        border-radius: 7px;  
       	cursor: pointer;
        transition-duration: 0.3s; */
        /*position: absolute;
          right: 40%;*/
          -webkit-app-region: drag;
}


  